.tipsIntro {
    margin-top: 70px;
    margin-left: 190px;
}

.tipsImg {
    margin-top: 40px;
    width: 88%;
}

.contents {
    display: flex;
    flex-direction: column;
    margin-top: 67px;
    margin-left: 190px;
    gap: 30px;
}